*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

nav {

    background-color: #224;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0 0 20px 20px;

}

nav a {

    color:white;
    display: block;
    padding: 20px;
    padding: 4px;
    text-decoration: none;

}

nav a.hover {

    font-weight: bold;

}

h1 {

    border-bottom: solid 2px;
    color: #224;

}

p{

    padding: 0;

}


aside{

    width: 25rem;
    text-align: justify;
    position: relative;

}

aside img{

    width: 80%;
    margin: auto;

}

main img {

    width: 150px;
    height: auto;
    float: right;

}

footer{

    margin-top: 30px;
    border-top: 2px solid #222;
    text-align: center;

}

aside h2{

    position: absolute;
    top: 50%;
    text-align: left;
    color: #FFF;
    font-size: medium;
    text-shadow: #000 2px;

}

/*Class Selectors*/

.box{

    margin: 1rem;
    border: 1px solid rgba(0,0,0,.1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;

}

.grid{

    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;

}

main{

    order: 1;

}

header, .grid, footer{

    max-width: 840px;
    margin: 0 auto;

}